/*//////////////////////////////////////
          General and Navigation
//////////////////////////////////////*/
body {
  background: #111;
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  text-align: center;
}

#header h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  margin: 8px auto;
  padding-top: 30px;
}

#header h2 {
  font-size: 1.5em;
  margin: 2px auto;
}

#nav {
  float: right;
  top: 20px;
  right: 30px;
  position: absolute;
}

#nav a {
  color: #666;
  float: left;
  margin-right: 20px;
}

#nav a:hover, #nav a.active:hover {
  color: white;
}

#nav a.active {
  color: whitesmoke;
}

.escape {
  width: 60px;
  top: 40px;
  left: 30px;
  position: absolute;
}

.hidden {
  display: none;
}

/*//////////////////////////////////////
                Work
//////////////////////////////////////*/
#work ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 50px;
}

#work ul li {
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
}

#work ul li:hover {
  cursor: pointer;
}

#work li span {
  display: block;
  font-size: 1.5em;
  vertical-align: middle;
}

.slant {
  -webkit-transform: skewY(5deg);
     -moz-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
          transform: skewY(5deg);
}

.revslant {
  -webkit-transform: skewY(-5deg);
     -moz-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.dropdown {
  height: auto;
  display: block;
  background: none;
}

.dropdown div {
  text-align: center;
}

.dropdown p {
  width: 70%;
  text-align: left;
  margin: 25px auto;
}

.dropdown button {
  padding: 10px 16px;
  border: 2px solid white;
  color: white;
  font-size: .9em;
  font-weight: bolder;
  background: inherit;
}

.dropdown button:hover {
  background: rgba(0, 0, 0, .1);
  transform: scale(1.1);
  color: darken;
}

.dropdown button:first-of-type {
  margin-right: 15px;
}

.down, .up {
  font-size: 2em;
}

/*//////////////////////////////////////
                About
//////////////////////////////////////*/
#about {
  clear: both;
  margin-bottom: 50px;
}

#about h3, #contact h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 3.5em;
  margin-bottom: 10px;
}

#about p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#reach span {
  font-size: 2em;
  padding: 0px 20px;
}

#reach span:hover {
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz- background: #111;
  -moz- color: #00CC99;
}

/*//////////////////////////////////////
                Contact
//////////////////////////////////////*/
#contact form {
  text-align: left;
  width: 20%;
  margin-left: 40%;
}

#contact form > input, #contact form > textarea{
  padding: 10px 5px;
  margin: 5px auto;
  width: 100%;
  border: none;
}

#contact form > button {
  padding: 5px 7px;
  background: white;
  border: none;
  border-radius: 10%;
}

#contact form > button:hover {
  background: #00cc99;
  color: white;
}

/*//////////////////////////////////////
          Media Queries
//////////////////////////////////////*/
@media screen and (max-width: 990px) {
  #nav {
    position: static;
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  #nav > a {
    width: calc(100%/4);
    margin: 0 0;
    padding: 20px 0;
  }

  #work {
    clear: both;
  }

  #about p {
    width: 90%;
  }

  #contact form {
    width: 70%;
    margin-left: 15%;
  }

  #work ul {
    margin-top: 80px;
  }
}

@media screen and (max-width: 615px) {
  .escape {
    display: none;
  }

  .dropdown p {
    width: 95%;
  }
}
